class DatabaseManager < Formula
  desc "Manages users and databases in a database cluster based on a yaml config"
  homepage "https://github.com/Chia-Network/database-manager"
  version "{{ VERSION }}"
  license "Apache-2.0"

  on_macos do
    on_intel do
      url "{{ MAC_AMD64_URL }}"
      sha256 "{{ MAC_AMD64_HASH }}"

      def install
        bin.install "database-manager"
        prefix.install_metafiles
      end
    end
    on_arm do
      url "{{ MAC_ARM64_URL }}"
      sha256 "{{ MAC_ARM64_HASH }}"

      def install
        bin.install "database-manager"
        prefix.install_metafiles
      end
    end
  end
end
